.button{
    background-color:var(--blue-primary);
    border: 2px solid var(--blue-primary);
    height: 2rem;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color:var(--white);
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #075472cb; 
  
  }
.nav{
    display:flex;
    gap:2rem;
}