.swiper {
    width: 100%;
    display: flex;
   
   
  }
  
  .swiper-slide {
    background-position: center;
    margin-top:2rem;
    display:flex;
   align-items: center;
   justify-content: center;

  }
  
  .swiper-slide img {
    height: 50vh;
    border-radius: 2.75rem;
    object-fit: fill;
    width: 1260px;
  }
  .container{
    max-height: 50vh;
    width: 100%;
    background-color: aqua;
    
    
  }