.swiper {
    width: 100%;
    display: flex;
   
   
  }
  
  .swiper-slide {
    background-position: center;
    margin-top:2rem;
    display:flex;
   align-items: center;
   justify-content: center;

  }
  
  .swiper-slide img {
    width: 90%;
    border-radius: 2.75rem;
    height:34.375rem;
  }