.container{
   
    color: var(--white);
    background-color:  var(--gray-800);
    padding: 2rem 2rem 1rem;
}
.content{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;

}
.img{
    height: 5rem;
}
.p{
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
   
   color: var(--gray-300);
    
}
.contentCopywrite{
    height: 100%;
    background-color: var(--black--900);
    padding: 0.5rem;

}


@media(max-width:600px){
   
    .img{
        margin-left:0;
        max-height: 5rem;

    }
      
}
